<div class="header">
    <div class="picture">
        <img src={{post.user.pictureUrl}} alt="Wrong Picture"height="42" width="42">
    </div>
    <div class="username">{{post.user.username}}</div>
    <div class="right">
        <div class="date" >{{post.creationTime|date:"dd/MM HH:mm"}}</div>
        <button class="glyphicon glyphicon-plus reply" (click)="Answer()"></button>
        <div class="actions">
            <a [class.liked]="post.liked"(click)="DoLike()" >
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </a>
        </div>
    </div>
</div>
<div class="body">
    <pre class="message">{{post.message}}</pre>
</div>
<div class="footer">
    <div *ngFor="let com of post.comments">
        <hr>
        <div class="com">
            <div class="picture">
                <img src={{com.user.pictureUrl}} alt="Wrong picture" height="42" width="42">
            </div>
            <div class="username">{{com.user.username}}</div>
            <div class="right">
                <div class="date" >{{com.creationTime|date:"dd/MM HH:mm"}}</div>    
            </div>
        </div>           
        <pre style="width: 80%; margin-left: 20%; background: white" class="message">{{com.message}}</pre>
    </div>
    <div *ngIf="showTextArea" class="social-app-inputs">
        <post-comment [comment] = "post" (callParent) = "callParent($event)"></post-comment>
    </div>
</div>

<style>
    :host {
        background: white;
        display: block;
        border-radius: 4px;
        border: 2px solid #c7c7c7;
    }
    .picture {
        width: 50px;
        height: 50px;
        border-radius: 2px;
    }
    .header {
        padding: 15px;
        display: flex;
    }
    .username {
        font-weight: bold;
        padding: 0 15px;
    }
    .right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .right > .date {
        padding-left: 10px;
        padding-right: 15px;
    }
    .actions > a {
        color: rgb(0, 0, 0);
        text-shadow: 0 0 1px black;
        cursor: pointer;
        padding-right: 15px;
    }
    .actions > a.liked {
        color: blue;
        text-shadow: 0 0 1px blue;
        cursor: default;
        padding-right: 15px;
        padding-top: 5px;
    }
    .reply{
        background-color: transparent;
        padding-right: 5px;
        border-color: transparent;
        padding-bottom: 50px;
        padding-right: 15px;
    }
    pre.message {
        background: rgb(241, 241, 241);
        margin:10px;
        border: 1px;
    }
    .footer{
       background: rgb(241, 241, 241);
       height: 100%;
    }
    .com{
        display: flex;
        width: 80%;
        margin-left: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>