<nav class="list-group">
    <add-channel (callParent) = "callParent($event)">
    </add-channel>
    <ul style="list-style-type:none;padding-left: 0">
        <div class="titleChan">Liste des channels</div>
      <li *ngFor="let chann of channels">
            <div class="channelList">
          <a  class="list-group-item" [routerLink]="['/channel/',chann.id]" >  
            {{ chann.name }}
          </a>  </div>   
      </li> 
      <br>
     </ul>
</nav>

<style>
    :host {
        display: block;
        padding: 0;
        margin: 0;
    }
    .list-group-item {
        color: white;
        font-weight: bold;
        background-color: #3B5998;
        border-radius: 8px;
        margin-top: 1%;
    }
    .titleChan{
        color: black;
        font-weight: bold;
        padding-bottom: 5%;
        text-align: center;
    }

</style>